.feature-box-border {
	background: radial-gradient(circle at bottom, #0F717366 0%, #E0E0E0 100%);
	padding: 1px;
	border-radius: 12px;
}

.feature-box {
	background: radial-gradient(circle at bottom, #8DBFC0 0%, #F4F7FA 70%);
	padding: 0.75rem;
	border-radius: 11px;
    box-shadow: 0px 3px 4px #8F8F8F33;
    display: flex;
}

.feature-icon {
    height: 1.5rem;
    width: 1.5rem;
    color: #0F7173;
    fill: #0F717366;
}

